<div class="page">
  <slot />
</div>

<style>
  .page {
    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    max-width: 32rem;
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 0.75rem;
  }
</style>
